LIBNAME    =zexy
TARNAME =  $(LIBNAME)-2.2.4.tgz

# when build as a library this holds a pre-processor define
# (e.g. "-DZEXY_LIBRARY")
# when build as single externals this is empty
BUILDLIBRARY =-DZEXY_LIBRARY

PREFIX     =/usr/local

INSTALL_BIN=$(DESTDIR)$(PREFIX)/lib/pd/extra/$(LIBNAME)
INSTALL_DOC=$(DESTDIR)$(PREFIX)/lib/pd/extra/$(LIBNAME)

EXT = pd_darwin 
DEFS = -DHAVE_CONFIG_H
IFLAGS = -I. 

CC = gcc
LD = gcc
STRIP = echo faking strip
STRIPFLAGS= 

LFLAGS = -bundle -mmacosx-version-min=10.3 -undefined dynamic_lookup -L../../../pure-data -L../../../pure-data/src 

Z_CFLAGS = $(IFLAGS) $(DEFS) $(BUILDLIBRARY) -DPD $(WFLAGS) -I../../../pure-data/src  -g -O2 -mms-bitfields -fPIC $(CFLAGS)
LIBS = -lm -lc 
MAKEDEP_FLAGS = -MM

CONFIGUREFLAGS = --with-pd=../../../pure-data

Z_CPPFLAGS = $(IFLAGS) $(DEFS) $(BUILDLIBRARY) -DPD $(WFLAGS) -fPIC -mms-bitfields -I../../../pure-data/src   $(CPPFLAGS)
